<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1YzA5MTM0ZDU4OWNhNzEwMzE5MzY0YTEwNzI5MzAzZiIsIm5iZiI6MTc0NDYyNTU5Ny45MzIsInN1YiI6IjY3ZmNkZmJkN2MyOWFlNWJjM2Q5NDBiMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.cTkQwa6ob9Hp2Fb8sqRtOm71BXY_uOyRajT4jtcmcR8</string>
</dict>
</plist>
